<div>
  <div class="page-title">
    <h3 translate>DICTIONARY</h3>
  </div>
  <div class="form-group" id="input-search">
    <input type="text" class="form-control" id="search" placeholder="{{ 'SEARCH_KEY' | translate}}" (keyup)="search.next($event)">
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Key</th>
          @for (language of languages; track language) {
            <th>{{language.label}}</th>
          }
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @for (dictionary of displayLanguage | keyvalue; track dictionary) {
          <tr>
            <td class="vertical-center">{{dictionary.key}}</td>
            @for (item of dictionary.value; track item) {
              <td class="vertical-center">
                @if (!dictionary.edit) {
                  <span>
                    {{item.label}}
                  </span>
                }
                @if (dictionary.edit) {
                  <div>
                    <input class="form-control" type="text" [value]="item.label" />
                  </div>
                }
              </td>
            }
            <td class="vertical-center">
              @if (!dictionary.edit) {
                <i [ngClass]="{'forbidden': !canEdit}" class="fas fa-edit pointer" (click)="edit(dictionary)"></i>
              }
              @if (dictionary.edit) {
                <i [ngClass]="{'forbidden': !canEdit}" class="fas fa-times-circle" (click)="cancelEdit(dictionary)"></i>
              }
              @if (dictionary.edit) {
                <i [ngClass]="{'forbidden': !canEdit}" class="fas fa-save" (click)="save()"></i>
              }
            </td>
          </tr>
        }
      </tbody>

    </table>
    @if (pages.length) {
      <ul class="pagination pointer">
        <li class="page-item"><a class="page-link" (click)="previewPage()">Previous</a></li>
        @for (page of pages; track page) {
          <li [ngClass]="{'active':isPageActive(page)}" class="page-item"><a (click)="gotToPage(page)" class="page-link">{{page}}</a></li>
        }
        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
      </ul>
    }
  </div>
</div>
