.thumbnail-container {
  display: flex;
  height: 100%;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumbnail {
  max-height: 250px;
  background-color: antiquewhite;
  flex: 1 1 380px;
  margin: 5px;
  flex-grow: 1;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.text-thumbnail {
  font-size: 40px;
  vertical-align: middle;
  cursor: pointer;
}
.content-title {
  flex: 1;
  text-align: center;
  cursor:pointer;
}
