<div class="page-title">
  <h2 translate>PROFIL</h2>
</div>
<div class="profil-container">
  <div class="historic-container">
    <div class="bloc-presentation bloc">
      Presentation
    </div>
    <div class="blocs-info-container">
      <div class="bloc-info bloc">
        passé pro
      </div>
      <div class="bloc-info bloc">
        pourquoi moi?
      </div>
      <div class="bloc-info bloc">
        avantage de bossé avec moi
      </div>
      <div class="bloc-info bloc">
        vous voulez en savoir plus?
      </div>
      <div class="bloc-info bloc">
        Quel prix
      </div>
    </div>
  </div>
  <div class="photo-container">
    <img class="personnal-pic" src="..\..\..\..\assets\DSC_0073_REDIM.jpg" />
  </div>
</div>
