.profil-container {
  display: flex;
}

.historic-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-container {
  flex: 1;
  margin: 5px;
}
.personnal-pic {
  height: 380px;
}

.blocs-info-container {
  display: flex;
  flex: 2 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bloc-info {
  flex: 1 1 30%; 
}
.bloc-presentation {
  flex: 1;
}

.info-button {
  font-size: 18px;
  background-color: #f1b221;
  height: 63px;
  width: 283px;
  border: none;
  margin-top: 5px;
  font-family: Poppins-Medium;
  border-radius: 2px;
}

@media all and (max-width:800px) {
  .photo-container{
      display:none;
  }
}
.tarif {
  font-family: Poppins-SemiBold;
  font-size: 45px;
  height:100%;
}
