/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

label {
  display: inline-block;
  margin-bottom: 1px;
  margin-right: 5px;
}

.page-title {
  justify-content: center;
  display: flex;
  border-radius: 15px;
  background-color: #6495ED;
  margin-bottom: 10px;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./assets/font/Poppins-Bold.ttf);
  /*font-weight: bold;*/
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(./assets/font/Poppins-SemiBold.ttf);
  /*font-weight: 600;*/
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./assets/font/Poppins-Medium.ttf);
  /*font-weight: 500;*/
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: auto;
  min-height: 100%;
  background: linear-gradient(180deg, #fff 30%, #020842 30%);
  background-repeat: no-repeat;
  font-family: Poppins;
}

html {
  display: flex;
  flex: 1 1;
  /*background-color: #B0E0E6;*/
  height: auto;
  min-height: 100%;
}

app-root {
  height: auto;
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}

.bloc {
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  display: flex;
  /*align-items: center;*/
  /*border-radius: 15px;*/
  /*background-color: antiquewhite;*/
  /*background-image: radial-gradient(#4169E1, #191970);*/
  background-color: #4cb1f7;
  color: #f3f6e6;
}

table {
  background-color: white;
}

a {
  text-decoration: none;
}

.forbidden {
  cursor: not-allowed;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
.invalid-field {
  border: #ff1800;
  border-style: solid;
  border-width: 1px;
}
.invalid-field-ck > div {
  border: #ff1800;
  border-style: solid;
  border-width: 1px;
}
.no-wrap {
  white-space: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.pill {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.vertical-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.direction-column {
  flex-direction: column;
}
