.container-messenger {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.message-display {
  bottom: 0;
  padding: 5px;
  list-style: none;
  position: absolute;
  margin-bottom: 30px;
  max-height: 370px;
  overflow-y: auto;
}

.bloc-send-text {
  display: flex;
}

.container-message-display {
  overflow-y: auto;
  flex: 1;
}
.text-container {
  width: 85%;
  background-color: #f1f0f0;
  margin: 2.5px;
  padding: 5px;
  border-radius: 10px;
  float:left;
}
.text-right {
  float: right;
  background-color: #6998f0;
}
.label-messenger {
  float: left;
}
