<div class="container-messenger"
     [style.height.px]="height"
     [style.width.px]="width">
  <div class="header-messenger">
    <label>{{titleMessenger}}</label> <i class="fas fa-bath"></i>
  </div>
  <div class="container-message-display">
    <ul class="message-display" [style.width.px]="width" [style.max.height.px]="(height - 70)" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <li *ngFor="let msg of lastMessages">
        <div class="text-container" [ngClass]="{'text-right': msg.userName == currentUserTag}">
          <label class="label-messenger" *ngIf="msg.userName != currentUserTag">{{msg.userName}}</label> 
          <label class="label-messenger" *ngIf="msg.userName == currentUserTag">Me </label> 
          <label class="label-messenger">{{msg.time | date: "dd/MM/yyyy HH:MM:ss" }}: </label>
          <label class="label-messenger">{{msg.text}}</label>
        </div>
      </li>
    </ul>
  </div>
  <form [formGroup]="formMessenger">
    <div class="bloc-send-text">
      <div>
        <input type="text" [style.width.px]="width - 50" formControlName="messageToSend" />
      </div>
      <div>
        <input type="submit" (click)="sendMessagePublic()" value="send" />
      </div>
    </div>
  </form>
</div>

