.container-messenger {
  background-color: gray;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.message-display {
  bottom: 0;
  position: absolute;
  margin-bottom: 40px;
}

.bloc-send-text {
  display: flex;
}

.container-message-display {
  flex: 1;
}
