<div class="container-messenger"
     [style.height.px]="height"
     [style.width.px]="width"
     >

  <div class="container-message-display">
    <ul class="message-display">
      <li *ngFor="let msg of lastMessages">
        {{msg}}
      </li>
    </ul>
  </div>
  <div [formGroup]="formMessenger" class="bloc-send-text">
    <input type="text"  [style.width.px]="width - 50" formControlName="messageToSend"/>
    <input type="button" (click)="sendMessagePublic()" value="send" />
  </div>
 
</div>

