<div div class="modal" [style.display]="(displayModalConfirm? 'block': 'none')" id="myModal" style="background-color:rgba(128, 128, 128, 0.5);">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" translate>CONFIRMATION</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="toggle()">&times;</button>
      </div>


      <div class="modal-body">
        <span translate>DELETE_TEXT</span> {{ valueToDelete }} ?
      </div>


      <div class="modal-footer">
        <button type="button" (click)="toggle()" class="btn btn-dark" translate>NO</button>
        <button type="submit" (click)="confirmDelete()"  class="btn btn-danger" data-dismiss="modal" translate>YES</button>
      </div>

    </div>
  </div>
</div>
