<div class="page-title">
  <h2 translate>PORTE_FOLIO</h2>
</div>
<div id="demo" class="carousel slide slide-container">

  <!-- Indicators -->
  <!--<ul style="background-color:antiquewhite;" class="carousel-indicators">
    <li *ngFor="let slide of slides;index as i" [ngClass]="{'active': currentSlide == i}" (click)="goTo(i)"></li>
  </ul>-->
  <!-- The slideshow -->
  <div class="carousel-inner border-carrousel">
    <div *ngFor="let slide of slides;index as i" class="carousel-item " [ngClass]="{'active bloc': currentSlide == i}">
      <div class="text-container" *ngIf="currentSlide == i">
        <div class="slide-header">
          <div class="slide-title"><label>{{slide.name}}</label></div>
          <div class="slide-date"><label>{{slide.start | date: 'shortDate': '+0000' : 'fr-FR'}} {{'TO'| translate}} {{ (slide.end |  date: 'shortDate': '+0000' : 'fr-FR' ) || 'In Progress'}} </label></div>
        </div>
        <div>
          <fieldset>
            <legend>{{'CONTEXT'| translate}}</legend>
            <div [innerHTML]="slide.description"></div>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>{{'STACK'| translate}}</legend>
            <div>
              <ul>
                <li *ngFor="let techno of slide.skillCategoryDetails">{{techno.label}}</li>
              </ul>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <div class="carousel-control-prev pointer border-carrousel" (click)="previewSlide()">
    <span class="carousel-control-prev-icon"></span>
  </div>
  <div class="carousel-control-next pointer border-carrousel" (click)="nextSlide()">
    <span class="carousel-control-next-icon"></span>
  </div>

</div>
