.slide-container {
  flex: 1 1;
}

.text-container {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.slide-header {
  display: flex;
  flex: 1
}

.slide-title {
  flex: 2;
}

.slide-date {
  flex: 1;
}
.border-carrousel {
  border-radius: 15px;
}
