.skills-container {
  display: flex;
  height: 100%;
  flex: 1 1;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  flex-direction: column;
}

.skill {
  /*max-height: 250px;*/
  flex: 1 1;
  flex-direction: column;
}
.displayBloc {
  display: flex;
  transition: transform 1s;
  margin-left: 10px;
  margin-right: 10px;
}
.slide-header {
  display: flex;
  flex: 1;
  align-items: center;
}

.slide-title {
  flex: 2;
  font-size: 2rem;
}
