<div class="page-title">
  <h2 translate>SKILLS</h2>
</div>
<div class="flex-1">
  <button type="button" (click)="canEdit && addCategory()" title="{{'ADD_CATEGORY'|translate}}" [ngClass]="{'forbidden': !canEdit}" [disabled]="!canEdit" class="btn btn-primary" translate>ADD_CATEGORY</button>
</div>
<div class="skills-container">

  <div class="skill" *ngFor="let category of skillsCategory;index as i">
    <form [formGroup]="formCategories[i]" *ngIf="formCategories[i]">
      <div class="slide-header flex bloc">
        <div class="flex flex-1 slide-title">
          <input type="text" placeholder="{{'CATEGORY_NAME' | translate}}"
                 [ngClass]="{'invalid-field': !isValidField(formCategories[i], 'label')}"
                 class="form-control name-category" formControlName="label" />

          <div>
            <i class="fas fa-save" (click)="saveCategory(formCategories[i])"></i>
          </div>

        </div>

        <div><i class="fas fa-trash" (click)="canEdit && deleteCategory(i)"></i></div>
      </div>


      <div class="bloc flex flex-wrap displayBloc" [ngStyle]="{'justify-content': (!category.skillCategoryDetails.length? 'center': 'auto')}">
        <div *ngIf="!category.skillCategoryDetails.length" >
          <div>
            <label translate>NO_SKILL</label>
          </div>
        </div>
        <div class="flex pill" *ngFor="let detail of category.skillCategoryDetails;index as scd">

          <div class="flex-1 flex no-wrap horizontal-center">
            <div class="flex-1">
              <!--<span>{{detail.label}}</span>-->
              <input type="text" placeholder="{{'SKILL_NAME' | translate}}"
                     [ngClass]="{'invalid-field': !detail.label}"
                     [(value)]="detail.label" />
            </div>
            <div class="pointer" [ngClass]="{'forbidden': !canEdit}">
              <!--<i class="fas fa-edit"></i>-->
              <i class="fas fa-times" (click)="canEdit && deleteSkill(category.skillCategoryDetails, scd)"></i>
            </div>
          </div>
        </div>
        <div class="add-container">
          <i class="fas fa-plus-circle fa-2x pointer" (click)="addSkill(category.skillCategoryDetails)"></i>
        </div>
      </div>
    </form>

  </div>
</div>
