<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Web</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse menu"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']" translate>HOME</a>
          </li>


          <li class="nav-item dropdown" id="sub-menu-stack">
            <a class="nav-link text-dark dropdown-toggle" translate>STACK</a>
            <div class="dropdown-menu nega-margin" id="menu-stack">
              <a class="dropdown-item" [routerLinkActive]="['link-active']" [routerLink]="['/database']" translate>DATABASE</a>
              <a class="dropdown-item" [routerLinkActive]="['link-active']" [routerLink]="['/host-iis']">IIS</a>
              <a class="dropdown-item" [routerLinkActive]="['link-active']" [routerLink]="['/signalr']">SignalR</a>
              <a class="dropdown-item" [routerLinkActive]="['link-active']" [routerLink]="['/authentication']" translate>AUTHENTICATION</a>
            </div>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/multi-language']" translate>MULTI_LANGUAGE</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/cv']">C.V</a>
          </li>

          <li class="nav-item dropdown" id="sub-menu-admin" *ngIf="canDisplay">
            <a class="nav-link text-dark dropdown-toggle" translate>ADMINISTRATION</a>
            <div class="dropdown-menu nega-margin" id="menu-admin">
              <a class="dropdown-item" [routerLinkActive]="['link-active']" [routerLink]="['/users']" translate>USERS</a>
              <a class="dropdown-item" [routerLinkActive]="['link-active']" [routerLink]="['/dictionary']">DICTIONARY</a>
            </div>
          </li>

        </ul>
      </div>
      <div class="language">
        <app-multi-language></app-multi-language>
      </div>
      <div class="login">
        <app-login></app-login>
      </div>
    </div>
  </nav>
</header>
