a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: 10px;
    height: 15px;
  }
}

.login {
  margin-left: 10px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.menu {
  margin-right: 10px;
}

a {
  cursor: pointer;
}

#sub-menu-stack:hover #menu-stack {
  display: block;
}

#sub-menu-admin:hover #menu-admin {
  display: block;
}

.nega-margin {
  margin-top: -5px;
}

.nav-link-font {
  font-family: Poppins-SemiBold;
  color: #1a237e !important;
}
.separator {
  border-right: #4cb1f7;
  border-right-width: 3px;
  border-right-style: solid;
}
