<div class="page-title">
  <h2 translate>PORTE_FOLIO</h2>
</div>
<div id="demo" class="carousel slide slide-container">

  <div class="">
    <div *ngFor="let slide of slides;index as i" class="active ">
      <form [formGroup]="formsExperiences[i]" *ngIf="formsExperiences[i]">
        <div class="text-container flex">

          <div class="slide-header bloc">
            <div class="slide-title"><label>{{slide.name}}</label></div>

            <div class="pointer" (click)="!displayBloc[i] ? display(i) : hide(i)">
              <i class="carousel-control-next-icon" [ngClass]="{'rotate': displayBloc[i]}"></i>
            </div>
          </div>

          <div class="bloc" [ngClass]="{'displayBloc': displayBloc[i] == true, 'hideBloc': !displayBloc[i]}">
            <div class="context-side">
              <fieldset>
                <legend>{{'CONTEXT'| translate}}</legend>
                <div class="slide-date">

                  <div class="form-group">
                    <label for="start" translate>START</label>
                    <input type="text" id="start" class="form-control" formControlName="start" />
                  </div>
                  <div class="form-group">
                    <label for="end" translate>END</label>
                    <input type="text" id="end" class="form-control" formControlName="end" />
                  </div>

                </div>
                <label translate>DESCRIPTION</label>
                <ckeditor formControlName="description" ></ckeditor>

              </fieldset>
            </div>
            <div class="skill-side">
              <fieldset>
                <legend>{{'SKILLS'| translate}}<i class="fas fa-plus-circle add-skill-experience pointer"></i></legend>
                <div>
                  <ul>
                    <li *ngFor="let techno of slide.skillCategoryDetails">
                      <div class="flex">
                        <div class="flex-1">
                          {{techno.label}}
                        </div>
                        <div class="pointer" [ngClass]="{'forbidden': !canEdit}" (click)="canEdit && displayModal(techno)">
                          <i class="fas fa-trash space-trash"></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </fieldset>
            </div>
          </div>

        </div>
      </form>
     
    </div>
  </div>

</div>
