.slide-container {
  flex: 1 1;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.slide-header {
  display: flex;
  flex: 1
}
.slide-title {
  flex: 2;
}
.context-side {
  flex: 2;
}

.skill-side {
  flex: 1;
}

.border-carrousel {
  border-radius: 15px;
}
.rotate {
  transform: rotateY(0deg) rotate(90deg);
  transition: transform 1s;
}
.displayBloc {
  display: flex;
  transition: transform 1s;
}
.hideBloc {
  display: none;
  transition: transform 1s;
}
