<div class="page-title">
  <h2 translate>PORTE_FOLIO</h2>
</div>
<div class="flex-1">
  <button type="button" (click)="addExperience()" [ngClass]="{'forbidden': !canEdit}" [disabled]="!canEdit" class="btn btn-primary" translate>ADD_EXPERIENCE</button>
</div>
<div id="demo" class="carousel slide slide-container">

  <div class="">
    <div *ngFor="let slide of experiences;index as i" class="active ">
      <form [formGroup]="formsExperiences[i]" *ngIf="formsExperiences[i]">
        <div class="text-container flex">

          <div class="slide-header bloc">
            <div class="slide-title flex">

              <input type="text" id="name" placeholder="{{NAME | translate}}" [ngClass]="{'invalid-field': !isValidField(formsExperiences[i],'name')}" class="form-control name-experience" formControlName="name" />
              <div class="pointer" [ngClass]="{'forbidden': !canEdit}" (click)="canEdit && deleteExperience(slide, i)">
                <i class="fas fa-trash space-trash"></i>
              </div>
            </div>

            <div class="pointer" (click)="!displayBloc[i] ? display(i) : hide(i)">
              <i class="carousel-control-next-icon" [ngClass]="{'rotate': displayBloc[i]}"></i>
            </div>
          </div>

          <div class="bloc" [ngClass]="{'displayBloc': displayBloc[i] == true, 'hideBloc': !displayBloc[i]}">
            <div class="context-side">
              <fieldset>
                <legend>{{'CONTEXT'| translate}}</legend>
                <div class="slide-date">

                  <div class="form-group">
                    <label for="start" translate>START</label>
                    <input type="text" id="start" class="form-control" [ngClass]="{'invalid-field': !isValidField(formsExperiences[i],'start')}" formControlName="start" />
                  </div>
                  <div class="form-group">
                    <label for="end" translate>END</label>
                    <input type="text" id="end" class="form-control" formControlName="end" />
                  </div>

                </div>
                <label translate>DESCRIPTION</label>
                <ckeditor formControlName="description" [ngClass]="{'invalid-field-ck': (canEdit && !isValidField(formsExperiences[i],'description'))}"></ckeditor>

              </fieldset>
            </div>
            <div class="skill-side">
              <fieldset>
                <legend>
                  {{'SKILLS'| translate}}<i [ngClass]="{'forbidden': !canEdit}" class="fas fa-plus-circle add-skill-experience pointer"
                                            (click)="addSkillExperience(slide.skillCategoryDetails)"></i>
                </legend>
                <div>
                  <app-ddl-filter [rows]="skillsCategory" (selectedItem)="skillChosen(slide.skillCategoryDetails, $event, slide.experienceId)"></app-ddl-filter>
                  <ul>
                    <li *ngFor="let techno of slide.skillCategoryDetails;index as iscd">
                      <div class="flex">

                        <div class="flex-1">
                          <label>{{techno.label}}</label>
                        </div>
                        <div class="pointer" [ngClass]="{'forbidden': !canEdit}" (click)="canEdit && deleteSkill(slide.skillCategoryDetails, iscd)">
                          <i class="fas fa-trash space-trash"></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </fieldset>
              <button type="submit"
                      (click)="onSubmit(formsExperiences[i], slide.skillCategoryDetails)"
                      [disabled]="!canEdit"
                      class="btn btn-success"
                      data-dismiss="modal" translate>SAVE</button>
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>
<app-modal-confirm [(displayModalConfirm)]="showDeleteExperience" [onValidate]="validateDelete" [valueToDelete]="textDelete"></app-modal-confirm>
